.blog_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;
    width: 100vw;
    flex-direction: column;
    background: linear-gradient(134deg , rgb(49, 37, 37) ,blue);

}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
    height: 5vh;
    width: 25vw;
    border: 3px rgb(28, 28, 27) solid;
    border-radius: 10px;
    outline: 0px;
    background: linear-gradient(110deg,rgb(20, 21, 20),orange,black);
    color: white;
    padding-right: 10px;
}
.updatebutton{
    height: 5vh;
    width: 10vw;
    background-color: red;
    border: 3px rgb(28, 29, 27) solid;
    border-radius: 10px;
    outline: 0px;
    color: white;
}
.formses{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
     border: 3px rgb(28, 29, 27) solid;
    border-radius: 10px;
    background-color: rgb(181, 181, 168);
}
.lines{
    height: 2px;
    width: 20vw;
    background-color: black;
}